html
{
	box-sizing: border-box;
	background: rgb(231,65,255);
	background: radial-gradient(circle, rgba(231,65,255,1) 5%, rgba(0,7,36,1) 38%, rgba(112,9,127,1) 66%, rgba(0,7,36,1) 97%);
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 200;
	text-align: center;
}

*, *:before, *:after 
{
	box-sizing: inherit;
}

header h1 
{
	color: #FFFFFF;
	font-weight: 300;
	font-size: 3em;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 2em 0 1em 0;
	padding: 1em;
}

header h3 
{
	color: #75afff;
	padding-top: 1.75em;
}

nav
{
	padding: 1em;
	padding-top: 5em;
	padding-bottom: 5em;
	margin-bottom: 3em;
	background: rgb(195,34,102);
	background: linear-gradient(180deg, rgba(195,34,102,1) 0%, rgba(45,233,255,1) 49%, rgba(253,45,84,1) 100%);
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
}

footer
{
	color: #ffffff
}

.topnav 
{
	display: flex;
	justify-content: center;
}

input
{
	width: 100%;
	padding: 20px;
}

.search-form 
{
	max-width: 300px;
	margin: 50px auto;
}

input.search 
{
	margin: 0;
	text-align: center;
	outline: 0;
	border: 2px solid #000000;
	position: relative;
	z-index: 2;
	border-radius: 20px;
	width: 200px;
	height: 20px;
	font-size: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

input.date 
{
	margin: auto;
	text-align: center;
	outline: 0;
	border: 2px solid #000000;
	position: relative;
	z-index: 2;
	width: 200px;
	height: 20px;
	font-size: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

span.population 
{
	font-size: 15px;
}

.hl 
{
	background: #3c6fcf;
}

h2 
{
	padding-top: 1em ;
}

.logo 
{
	display: grid;
	justify-items: center; 
	padding-top: 2em;
}

img 
{
	max-width: 70%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
}

article 
{
	background: rgb(195,34,102);
	background: linear-gradient(180deg, rgba(195,34,102,1) 0%, rgba(45,233,255,1) 49%, rgba(253,45,84,1) 100%);
	border-radius: 10px;
	border-style: solid;
	border-color: #FFFFFF;
	margin: 1em;
	padding: 1em;
}

.content 
{
	justify-items: center;
	padding: 0;
	margin: 0;
}

#range 
{
	position: relative;
	bottom: 0px;
	margin: auto;
}

#date 
{
	margin-bottom: 5em;
}


@media screen and (min-width: 48em) 
{  
	body 
	{  
		margin: 0 auto;
	}
	
	.col-2 
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: auto;
		margin: 0 auto;
		padding: 0;
	}
	
	input.search 
	{
		width: 300px;
		height: 50px;
	}
	
	input.date 
	{
		width: 300px;
		height: 50px;
	}
	
	article 
	{
		width: 500px;
	}
	
	.navigation
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: auto;
	}

	.meme
	{
		width: 200px;
	}
}